.abandoned {
  text-decoration: line-through;
}

.dump {
  font-family: monospace;
  padding: 1em;
  margin: 0 0 .5em 0;
  white-space: pre;
}

.guid {
  font-family: monospace;
}

.invoice.internal {
  background-color: #ddd;
}

.result {
  border: black 1px solid;
  background-color: #ddd;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
}
