.dumpcontainer {
  background-color: #fed;
  border: 1px black dashed;
  padding: 0 .5em;
}

.dump {
  font-family: monospace;
  border: thin black solid;
  padding: 1em;
  margin: 0 0 .5em 0;
  background-color: #edc;
  white-space: pre;
}

.contact table {
  border: thin black solid;
}

.guid {
  font-family: monospace;
}

.total th {
  text-align: right;
}
